:root {
  --theme-color-ultra-light: rgba(32, 84, 143, 0.226);
  --theme-color-light: rgb(105, 85, 192);
  --theme-color-main: rgb(61, 44, 158);
  --theme-color-dark: rgb(36, 18, 114);
  --theme-text: rgb(0, 0, 0);
  --theme-contrast-text: rgb(255, 255, 255);
}
html {
  background-color: #f8f8f8;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.site {
  margin: 0 auto;
}
.site .site-main {
  max-width: 70em;
  margin: 0 auto;
}
.site-footer .site-wrapper,
.site-header {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.site-header {
  color: var(--theme-contrast-text);
  padding: 0 0 3em 2em;
}
.site-header div {
  color: var(--theme-color-main);
  padding-top: 1em;
}
.site-header h1 a {
  text-decoration: none;
}
.site-footer .site-wrapper {
  padding: 2em;
  font-size: 1.2em;
}
.site-footer .site-wrapper,
.site-header,
.social,
.social li {
  display: -webkit-box;
  display: flex;
}
.social {
  list-style: none;
  padding-right: 2em;
  font-size: 20px;
}
.social li {
  cursor: pointer;
  margin: 0.5em;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--theme-color-main);
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  -webkit-box-pack: center;
  justify-content: center;
}
.site-footer .site-wrapper p {
  opacity: 0.4;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.site-footer:hover .site-wrapper p {
  opacity: 0.6em;
}
.site-footer .site-wrapper p:first-child {
  font-size: 1em;
}
* {
  padding: 0;
  margin: 0;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body,
form,
input,
select,
table,
textarea {
  font: inherit;
}
.nav ul,
.nav ul li {
  display: -webkit-box;
  display: flex;
  padding: 1em;
}
.nav ul li {
  margin: 0.2em;
  background-color: var(--theme-color-light);
  border-radius: 0.3em;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}
.nav ul li:hover {
  background-color: var(--theme-color-main);
}
.nav a {
  display: block;
  font-weight: 600;
  text-decoration: none;
  color: inherit;
  margin-left: 0.5em;
}
.entry {
  background: #f8f8f8;
  border-top-right-radius: 5em;
  position: relative;
  z-index: 30;
  top: -3em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 3em;
}
@media (max-width: 1024px) {
  .entry {
    padding-bottom: 0.1em;
  }
}
@media (min-width: 1025px) {
  .entry {
    display: -webkit-box;
    display: flex;
    height: 30em;
  }
}
.entry-media {
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 5em;
}
@media (min-width: 1025px) {
  .entry-media {
    -webkit-box-flex: 0;
    flex: 0 0 50%;
  }
}
.entry-media:before {
  display: block;
  content: '';
  padding-top: 80%;
}
.entry-media img {
  display: block;
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.entry-media:hover img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
}
.entry-content {
  background: #fff;
  position: relative;
  z-index: 20;
  box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.07);
  padding: 2em;
}
@media (min-width: 1025px) {
  .entry-content {
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: 2em 2em 2em -2em;
  }
}
.entry-title {
  padding-bottom: 0.5rem;
  font-weight: 500;
  font-size: 3em;
}
.entry-title a {
  color: #222;
}
.entry-meta {
  margin-bottom: 3em;
}
.entry:nth-child(even) .entry-media {
  -webkit-box-ordinal-group: 3;
  order: 2;
}
@media (min-width: 1025px) {
  .entry:nth-child(even) .entry-content {
    margin: 2em -2em 2em 2em;
  }
}
@media (max-width: 1024px) {
  .entry-content,
  .entry:nth-child(even) .entry-content {
    margin: -2em 2em 2em;
  }
}
@media (min-width: 1025px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
.img-sport {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 3px solid #000;
  opacity: 0.8;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}
.img-sport:hover {
  position: relative;
  z-index: 30;
  opacity: 1;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
