.site-header {
  display: flex;
  color: var(--theme-contrast-text);
  align-items: center;
  justify-content: space-between;

  @include bp(mobile) {
    flex-direction: column;
    justify-content: center;
  }

  .nav,
  div {
    position: absolute;
    z-index: 50;
    top: 1em;

    @include bp(mobile) {
      left: 0;
    }
  }

  .nav {
    @include bp(mobile) {
      top: 8em;
    }
  }

  .nav {
    right: 1em;
  }

  div {
    left: 1em;
    color: var(--theme-color-main);
    padding: 1em 0 0 1em;
    opacity: 1;
  }

  h1 a {
    text-decoration: none;
    opacity: 1;
  }
}

.site-media {
  background-image: url('https://images.unsplash.com/photo-1483721310020-03333e577078?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  min-height: 60vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em 0;
  opacity: 0.1;
  top: 0;
}
