.site-header {
  display: flex;
  color: var(--theme-contrast-text);
  align-items: center;
  justify-content: space-between;
  padding: 0 0 3em 0;

  div {
    color: var(--theme-color-main);
    padding: 1em 0 0 1em;
  }

  h1 a {
    text-decoration: none;
  }
}
