:root {
  --theme-color-ultra-light: rgba(32, 84, 143, 0.226);
  --theme-color-light: rgb(105, 85, 192);
  --theme-color-main: rgb(61, 44, 158);
  --theme-color-dark: rgb(36, 18, 114);

  --theme-text: rgb(0, 0, 0);
  --theme-contrast-text: rgb(255, 255, 255);
}

html {
  background-color: #f8f8f8;
}

.site {
  // max-width: 70em;
  margin: 0 auto;

  .site-main {
    max-width: 70em;
    margin: 0 auto;
  }
}
