:root {
  --theme-color-light: rgb(85, 135, 192);
  --theme-color-main: rgb(44, 97, 158);
  --theme-color-dark: rgb(18, 63, 114);

  --theme-text: rgb(0, 0, 0);
  --theme-contrast-text: rgb(255, 255, 255);
}

body {
}

.site {
  max-width: 60em;
  margin: 0 auto;
}

.site-header {
  display: flex;
  color: var(--theme-contrast-text);
  background-color: var(--theme-color-main);
  align-items: center;
  justify-content: space-between;
}
