<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script>
      FontAwesomeConfig = {
        searchPseudoElements: true,
      };
    </script>
    <script src="https://use.fontawesome.com/releases/v5.12.0/js/all.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
    <title>{{site.title}}</title>
  </head>
  <body>
    <div class="site">
      <header class="site-header">
        <div>
          <h1>
            {{site.title}}
          </h1>
          <p>{{site.description}}</p>
        </div>
        <nav class="nav">
          <ul>
            {% for page in site.pages %} {% if page.title %}
            <li>
              <i class="fas fa-running"></i
              ><a href="{{site.baseurl}}{{page.url}}">
                {{page.title}}
              </a>
            </li>
            {% endif %} {% endfor %}
          </ul>
        </nav>
      </header>
      <main>
        {{ content }}
      </main>
      <footer><p>Copyright</p></footer>
    </div>
  </body>
</html>
